<!-- app_server/views/layouts/layout.hbs -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
